<div class="row p-3">
       <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9"> 
            <table class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>ClientId</th>
                <th>CompanyName</th>
                <th>City</th>
                <th>Pincode</th>
                <th>State</th> 
                <th>Action</th>     
                </tr>
            </thead>
           
            <tbody>               
                    <tr *ngFor="let client of getClients">
                        <td>{{client.clientId}}</td>                       
                        <td>{{client.companyName}}</td>
                        <td>{{client.city}}</td>
                        <td>{{client.pincode}}</td>
                        <td>{{client.state}}</td>  
                        <td>
                            <button class="btn btn-primary" (click)="updateClient(client)">edit</button>
                            <button class="btn btn-danger" (click)=" deleteClient(client.clientId)">delete</button>
                        </td>                  
                              
                 </tr>           
              
            </tbody>
        
        </table>
        </div> 
   
    <div class="col-lg-3">

        <div class="card text-center">
            <div class="card-header bg-primary">
              Add Client Form
            </div>
            <div class="card-body p-2">
               
                    <div class="row p-2">
                      <div class="col">
                        <input type="text" class="form-control" [(ngModel)] = "clientObj.companyName" placeholder="Enter Company Name" >
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" [(ngModel)] = "clientObj.contactPersonName" placeholder="Enter Person Name">
                      </div>
                    </div>
                    <div class="row p-2">
                        <div class="col">
                          <input type="text" class="form-control"  [(ngModel)] = "clientObj.personName" placeholder="Enter Contact Number" >
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" [(ngModel)] = "clientObj.city" placeholder="Enter City" >
                        </div>
                      </div>
                      <div class="row p-2">
                        <div class="col">
                          <input type="text" class="form-control" [(ngModel)] = "clientObj.state" placeholder="Enter State">
                        </div>
                        <div class="col">
                          <input type="number" class="form-control" [(ngModel)] = "clientObj.pincode" placeholder="Enter Pincode" >
                        </div>
                      </div>
                      <div class="row p-2">
                        <div class="col">
                          <input type="text-area" class="form-control" [(ngModel)] = "clientObj.address" placeholder="Enter Address" >
                        </div>
                        <div class="col">
                          <input type="number" class="form-control" [(ngModel)] = "clientObj.empStrength" placeholder="Enter Employee Strength">
                        </div>
                      </div>
                      <div class="row p-2">
                        <div class="col">
                          <input type="text-area" class="form-control" [(ngModel)] = "clientObj.gstNo" placeholder="Enter gstNo" >
                        </div>
                        <div class="col">
                          <input type="number" class="form-control" [(ngModel)] = "clientObj.regNo" placeholder="Enter regNo">
                        </div>
                      </div>
                      <div class="row p-2">
                        <div class="col-md-6 col-lg-6">
                          <input type="text-area" class="form-control" [(ngModel)] = "clientObj.contactNo" placeholder="Enter contactNo" >
                        </div>
                        
                      </div>
                      <div class="row p-2">
                        <div class="col-md-6"><button text="addClient" (click) = "addClient()" class="btn btn-md btn-warning">{{clientObj.clientId!=null ? "Update Client": "Add Client"}}</button></div>
                        
                        </div>                 
            </div>           
          </div> 

    </div>
</div>
